{% extends "main/base.html" %}
{% block title %}View List{% endblock %}

{% block content %}
    <h1>{{ to_do_list.name }}</h1>
    <form method="POST" action="#" class="form-group">
        {% csrf_token %}
            {% for item in to_do_list.item_set.all %}
                <div class="form-check mb-0 border-bottom">
                {% if item.complete == True %}
                    <input id="c{{ item.id }}" class="form-check-input" type="checkbox" value="clicked" name="c{{ item.id }}" checked>
                {% else %}
                    <input id="c{{ item.id }}" class="form-check-input" type="checkbox" value="clicked" name="c{{ item.id }}">
                {% endif %}
                    <label class="form-check-label" for="c{{ item.id }}">{{ item.text }}</label>
                </div>
            {% endfor %}
        <div class="input-group mb-3 mt-3">
            <input type="text" name="txtNewItem" class="form-control">
            <button type="submit" name="btnNewItem" value="newItem" class="btn btn-outline-secondary">Add Item</button>
            <button type="submit" name="btnChangeItem" value="save" class="btn btn-outline-secondary">Save</button>
        </div>
    </form>
{% endblock %}